.chatWindow {
  width: 600px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .message {
    width: 100%;

    text-wrap: wrap;
    word-break: break-word;
  }
}
